.search-form {
  padding-top: 15px;
  padding-bottom: 15px;

  background-color: black;
  background-image: linear-gradient(to top, yellow, blue);
  display: flex;
  justify-content: center;
}

.search-button {
  padding: 6px;
  border-style: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(204, 204, 204);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.search-button:hover,
.search-button:focus {
  background-color: rgb(180, 180, 180);
  outline: none;
}

.search-button-icon {
  width: 24px;
}

.search-input {
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.search-input:focus {
  outline: none;
}
